.nav{
    height: 100px;                       /* nav의 박스크기 */
    background-color: black;
    border-bottom: 1px solid black;   /* nav박스 밑에 검은 줄*/
    display: flex;                      /*nav 요소들 정렬*/
    align-items: center                 /*박스 안에서 정렬 -> 상단 중간 하단?*/
}
.nav-text{
    margin-left: 20px;
    color: rgb(255, 134, 13);
}
.nav-menu{
    display: flex;                      /* 요소 정렬*/
    margin-left: auto;     
    margin-right: 10px;          /*right-margin 으로부터 10px 여백을 가짐*/
}

a:link{
    color: white;
}
a:visited{
    color:white;
}
a:hover{
    color:rgb(255, 134, 13);
}
a{
    text-decoration-line: none;
}

.menu-items{
    margin-right: 10px;
    color: white;
    
}

.Profile{
    height: 600px;
    width: 400px;
    border-right: 2px solid black;
    background-color: rgb(255, 255, 255);
}
.profile-img{
    margin-left: 50px;
    margin-top: 20px;
}
.profile-info{
    /* text-align: center; */
    height: fit-content;
    width: fit-content;
    margin-left: 75px;
}

.content{
    /* background-color: orange; */
    margin-top: 100px;
    margin-left: 300px;
    text-align: center;
}